---
permalink: /til/
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Today I Learned | Nick Sheck</title>
  <link rel="stylesheet" href="{{ "/styles/til.css" | prepend: site.baseurl }}">
</head>
<body>

  <h1>Today I Learned</h1>

  {% for til in site.til %}
    {{ til.date | date: "%b %-d, %Y" }}
    {{ til.content }}
  {% endfor %}

  {% if site.environment == 'development' %}
  <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
