---
---
<html lang="en">

<head>
  <meta charset="utf-8" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <meta name="viewport" content="width=device-width" />

  <title>Nick Sheck</title>

  <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />

  <style>
    body {
      padding: 5%;
    }
    header {
      padding-bottom: .125em;
      border-bottom: 10px solid;
      margin-bottom: 1.38rem;
    }
    header > img {
      max-width: 300px;
      border-radius: 100%;
      margin: 0 auto;
      display: block;
      margin-bottom: 5%;

      transition: filter 1s ease-in-out;
      filter: grayscale(100%) contrast(150%);
    }
    header > img:hover {
      filter: none;
    }
    @media screen and (min-width: 70em) {
      header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
      header > img {
        order: 1;
        margin: 0 0 1em;
        max-width: 200px;
      }
    }
    @media screen and (min-width: 100em) {
      header > img {
        max-width: 300px;
      }
    }
    .name {
      margin: 0;
      letter-spacing: -0.5px;
    }
    .tag1 {
      font-size: 2.25rem;
      margin-top: 0;
      margin-bottom: 1.5rem;
      line-height: 1;
    }
    .tag2 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.125em;
      opacity: .7;
    }
    a {
      text-decoration: none;
      position: relative;
      border-bottom: 2.5px solid rgba(127,127,127,.5);
    }
  </style>
</head>

<body>
  <header>
    <img src={Astro.resolve("../images/cool.jpg")} alt="a cool photo of me" />
    <h1 class="name">Nick Sheck</h1>
  </header>
  <p class="tag2">Bellingham, Washington</p>
  <p class="tag1">Software Engineer</p>
  <ul>
    <li><a href="//world.hey.com/sheck">My Blog</a></li>
    <li><a href="//500px.com/p/nsheck">Photography</a></li>
    <li><a href="/til">Learning Log</a></li>
    <li><a href="//github.com/sheck">Github</a></li>
    <li><a href="//twitter.com/nicksheck">Twitter</a></li>
  </ul>
</body>

</html>
